.areaMultiSelector .control {
  border-color: #ccc;
}

.areaMultiSelector .multiValue {
  background-color: #e0e0e0;
}

.areaMultiSelector .multiValueLabel {
  color: #333;
}

.areaMultiSelector .multiValueRemove {
  color: #555;
}

.areaMultiSelector .multiValueRemove:hover {
  background-color: #d0d0d0;
  color: black;
}